<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <button type="submit" name="choice" value="manageRoom">Manage Room</button>
            <button type="submit" name="choice" value="manageReservation">Manage Reservation</button>
            <button type="submit" name="choice" value="manageTime">Manage Time</button>
        </form>
    </div>
</body>
</html>