<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, td {
            border: 1px solid black;
            text-align: center;
        }
        table {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>WELCOME {{welcome}}</h1>
    <div id="home-page">
        <form action="" method="post">
            <select name="room">
                {% for room in rooms: %}
                <option value="{{ room[0] }}">{{ room[2] }}</option>
                {% endfor %}
            </select>
            <button type="submit" name="click" value="search room">Search room</button>
            <button type="submit" name="click" value="login page">Login page</button>
            <br>
        </form>
    </div>
</body>
</html>