<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #accept{
            background-color: green;
        }
        #reject{
            background-color: red;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        <h2>List of reservations</h2>
        <table>
            <tr>
                <th>User</th>
                <th>Mail</th>
                <th>Room</th>
                <th>Capacity</th>
                <th>Date</th>
                <th>Start time</th>
                <th>End time</th>
                <th></th>
            </tr>
            {% for i in list: %}
            <tr>
                <!-- <input type="hidden" name="id" value="{{ i[0] }}">
                <input type="hidden" name="user_id" value="{{ i[1] }}">
                <input type="hidden" name="room_id" value="{{ i[2] }}">
                <input type="hidden" name="time_id" value="{{ i[3] }}"> -->
                <!-- <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td> -->
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                <td>{{i[8]}}</td>
                <td>{{i[9]}}</td>
                <td>{{i[10]}}</td>
                <td>
                    <button id="accept" name="click" value="accept-{{i[0]}}-{{i[1]}}-{{i[2]}}-{{i[3]}}">Accept</button>
                    <button id="reject" name="click" value="reject-{{i[0]}}">Reject</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <h2> List of successful bookings </h2>
        
            <table>
                <tr>
                    <th>User</th>
                    <th>Mail</th>
                    <th>Room</th>
                    <th>Capacity</th>
                    <th>Date</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th></th>
                </tr>
                {% for i in bookings: %}
            <tr>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
                <td>{{i[8]}}</td>
                <td>{{i[9]}}</td>
                <td>{{i[10]}}</td>
                <td>
                    <button id="deleteBooking" name="click" value="delete-{{i[0]}}">Delete</button>
                </td>
            </tr>
            {% endfor %}
            </table>
            <button id="deleteLateBookings" name="click" value="deleteLateBookings">Delete all late reservation</button>
            <br>
            <hr>
            <button type="submit" name ="click" value="adminPage">Comeback to admin home page</button>
    </form>
</body>
</html>