<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }
        table {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        #delete{
            background-color: rgb(42, 165, 110); /* Green */
        }
    </style>
</head>
<body>
    <h1>Welcome admin</h1>
    <div id="home-page">
        <form action="" method="post">
            <table>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Day</th>
                    <th></th>
                </tr>
                {% for Time in times: %}
                <tr>
                    <td>{{Time[1]}}</td>
                    <td >{{Time[2]}}</td>
                    <td>{{Time[3]}}</td>
                    <td>
                        <button id="delete" type="submit" name="delete" value= "{{ Time[0]}}" >
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>

        <div class="form-container">
            <form action="" method="POST" >
                <h2>Create new Time</h2>
                <div> </div>
                <label for="Time">Time frame</label>

                <select name="timeRoom">
                    <option value=slot1> Form 8:00 am to 09:59 am </option>
                    <option value=slot2> Form 10:00 am to 11:59 am </option>
                    <option value=slot3> Form 1:00 pm to 2:59 pm </option>
                    <option value=slot4> Form 3:00 pm to 04:59 pm </option>
                </select>

                <label for="day">Day</label>
                <input type="date" name="day" required>

                <br>
                <button type="submit" id = "createTime" name ="create" value="onclick">Create</button>
                <button type="reset" id="resetTime">Reset</button>
                <br>
                
            </form>
            <form action="" method="post">
                <button type="submit" name ="adminPage" value="onclick">Comeback to admin home page</button>
            </form>
        </div>

        
    </div>
</body>
</html>