<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="sign-up">
        <form action="" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <br>
            <label for="mail">Mail</label>
            <input type="email" name="mail" id="mail" required>
            <br>
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" required>
            <input type="submit" value="Sign Up">
            <br>
            <p>{{error_text}}</p>
        </form>
    </div>
</body>
</html>